{% extends 'base.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css' ) }}">

    <link rel="stylesheet" href="{{ asset('https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css' ) }}">

    <style>
        .dataTables_filter input {
            border: 1px solid #555;

            border-radius: 1px;
            box-sizing: border-box;
        }
    </style>

{% endblock %}
{% block body %}
    <h1>Seance_salles list</h1>

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Nbr_entree_seance</th>
                <th>Recette_seance</th>
                <th>Date_seance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seanceSalle in seanceSalles %}
            <tr>
                <td>{{ seanceSalle.nbrentreeseance }}</td>
                <td>{{ seanceSalle.recetteseance }}</td>
                <td>{% if seanceSalle.dateseance %}{{ seanceSalle.dateseance|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('seancesalle_show', { 'id': seanceSalle.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('seancesalle_edit', { 'id': seanceSalle.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('seancesalle_new') }}">Create a new seanceSalle</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}





    <script src="{{ asset('https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js' ) }}"></script>

    <script src="{{ asset('https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js' ) }}"></script>

    <script src="{{ asset('https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js' ) }}"></script>

    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js' ) }}"></script>

    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js' ) }}"></script>

    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js' ) }}"></script>

    <script src="{{ asset('https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js' ) }}"></script>

    <script src="{{ asset('https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js' ) }}"></script>


    <script type="text/javascript">

        $(document).ready(function() {
            $('#example').DataTable( {
                dom: 'Bfrtip',
                buttons: ['copy','excel', 'csv','pdf','print'],

                initComplete: function () {
                    var btns = $('.dt-button');
                    btns.addClass('btn btn-primary btn-sm');
                    btns.removeClass('dt-button');

                }
            } );
        } );


    </script>



{% endblock %}