{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h1>Films list</h1>

    <a class="btn btn-success" href="{{ path('film_new') }}">Add Film</a>

    <table id="example2" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Image</th>
            <th>Titre</th>
            <th>Entree_total</th>
            <th>Part_dist_salle</th>
            <th>Part_dist_region</th>
            <th>Part_prod_salle</th>
            <th>Part_prod_region</th>
            <th>Depenses_total</th>
            <th>Date_sortie</th>
            <th>Actions</th>
        </tr>
        </thead>


        <tbody>
        {% for film in films %}
            <tr>
                <td><img src="{{ vich_uploader_asset(film, 'imageFile') }}" style="height: 50px ; width: 40px"></td>
                <td>{{ film.titre }}</td>
                <td>{{ film.entreetotal }}</td>
                <td>{{ film.partdistsalle }}</td>
                <td>{{ film.partdistregion }}</td>
                <td>{{ film.partprodsalle }}</td>
                <td>{{ film.partprodregion }}</td>
                <td>{{ film.depensestotal }}</td>
                <td>{{ film.datesortie|date('Y-m-d') }}</td>
                <td>


                    <a href="{{ path('film_show', { 'id': film.id }) }}"
                       class="btn btn-primary">show</a>


                    <a href="{{ path('film_edit', { 'id': film.id }) }}"
                       class="btn btn-google">edit</a>


                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
