{% extends 'base.html.twig' %}

{% block body %}
    <h1>Film</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ film.titre }}</td>
            </tr>
            <tr>
                <th>Entree_total</th>
                <td>{{ film.entreetotal }}</td>
            </tr>
            <tr>
                <th>Part_dist_salle</th>
                <td>{{ film.partdistsalle }}</td>
            </tr>
            <tr>
                <th>Part_dist_region</th>
                <td>{{ film.partdistregion }}</td>
            </tr>
            <tr>
                <th>Part_prod_salle</th>
                <td>{{ film.partprodsalle }}</td>
            </tr>
            <tr>
                <th>Part_prod_region</th>
                <td>{{ film.partprodregion }}</td>
            </tr>
            <tr>
                <th>Depenses_total</th>
                <td>{{ film.depensestotal }}</td>
            </tr>
            <tr>
                <th>Date_sortie</th>
                <td>{% if film.datesortie %}{{ film.datesortie|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ film.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('film_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('film_edit', { 'id': film.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
