{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bordereauregions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bordereauRegion in bordereauRegions %}
            <tr>
                <td><a href="{{ path('bordereauregion_show', { 'id': bordereauRegion.id }) }}">{{ bordereauRegion.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bordereauregion_show', { 'id': bordereauRegion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bordereauregion_edit', { 'id': bordereauRegion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bordereauregion_new') }}">Create a new bordereauRegion</a>
        </li>
    </ul>
{% endblock %}
