{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salles list</h1>

    <a class="btn btn-success" href="{{ path('salle_new') }}">Ajouter Salle</a>

    <table id="example2" class="table table-bordered table-hover">
        <thead>
        <tr>
                <th>Nom</th>
                <th>Nom Societe</th>
                <th>Adresse</th>
                <th>Mat_fiscale</th>
                <th>Part_dist_salle</th>
                <th>Part_proprio_salle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.nom }}</td>
                <td>{{ salle.nomsociete }}</td>
                <td>{{ salle.adresse }}</td>
                <td>{{ salle.matfiscale }}</td>
                <td>{{ salle.partdistsalle }}</td>
                <td>{{ salle.partpropriosalle }}</td>
                <td>

                            <a class="btn btn-primary" href="{{ path('salle_show', { 'id': salle.id }) }}">show</a>

                            <a class="btn btn-google" href="{{ path('salle_edit', { 'id': salle.id }) }}">edit</a>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
