{% extends 'base.html.twig' %}

{% block body %}
    <h1>Salle</h1>
    {{ form_start(delete_form) }}
    <input class="btn btn-danger" style="float:right" type="submit" value="X">
    {{ form_end(delete_form) }}
    <a class="btn btn-success" href="{{ path('salle_index') }}">Back to the list</a>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ salle.nom }}</td>
            </tr>
            <tr>
                <th>Nom Societe</th>
                <td>{{ salle.nomsociete }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ salle.adresse }}</td>
            </tr>
            <tr>
                <th>Mat_fiscale</th>
                <td>{{ salle.matfiscale }}</td>
            </tr>

        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('salle_edit', { 'id': salle.id }) }}">Edit</a>

{% endblock %}
